[Unit]
Description=blog_go
Wants=network-online.target
After=network-online.target

[Service]
RuntimeDirectory=blog_go
#GOENVMODE=production
#这里是添加环境变量 相当于在执行的命令前面加上env=xxxx
Environment=""
WorkingDirectory=/data/data/data/go-lang-blog-backend/gin-blog
Restart=always
RestartSec=10
StartLimitIntervalSec=0

User=gitlab-runner
Group=gitlab-runner

ExecStart=/data/data/data/go-lang-blog-backend/gin-blog/gin-blog-linux  >> /tmp/gin-blog.log

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65536

LimitNPROC=4096

LimitAS=infinity

LimitFSIZE=infinity

TimeoutStopSec=0

KillSignal=SIGTERM

KillMode=process

SendSIGKILL=no

SuccessExitStatus=143

LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target