[Unit]
Description=blog_go
Wants=network-online.target
After=network-online.target

[Service]
RuntimeDirectory=blog_go
#GOENVMODE=production
Environment="PID_DIR=/var/run/blog_go"
WorkingDirectory=/data/gopath/go-lang
Restart=always
RestartSec=10
StartLimitIntervalSec=0

User=gitlab-runner
Group=gitlab-runner

ExecStart=/data/gopath/go-lang/gin-blog  >> /tmp/gin-blog.log

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65536

LimitNPROC=4096

LimitAS=infinity

LimitFSIZE=infinity

TimeoutStopSec=0

KillSignal=SIGTERM

KillMode=process

SendSIGKILL=no

SuccessExitStatus=143

LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target